---
layout: default
title: Subhashish Panigrahi
description: Subhashish Panigrahi is a senior civil society leader, documentary filmmaker, researcher and openness advocate.
featured_image: /images/wikimania_2018.jpg
---

<section class="intro">
  <div class="wrap">
    <h1>Hello!</h1><br>
    <p>I am a nonprofit and business consultant with a decade-long leadership experience in social entrepreneurship, digital rights, community-building, and language technology. I am currently a board member at Global Voices and a 2017-batch National Geographic Explorer. Earlier, I built an ecosystem of 200 justice social entrepreneurs at Ashoka, and expanded Internet Society's 40K-member Asia-Pacific community, Mozilla's Asia community and over 25 South Asian Wikipedia communities. I now consult and advise organizations, collectives and teams on strategy, fundraising, grantmaking an community-building. My expertise are in open knowledge (Wikipedia, Wikidata, and Wikimedia projects), open source, standards and licenses, digital and human rights, and community-based data, film and media.<p/>

See <a href="/services">how I can help you</a> or <a href="/contact">email</a> to discuss your specific needs.
  </div>
</section>
<!-- Org logos -->
<section class="logos logo-section">
  <p><center><i>Organizations associated with</i></center></p>
  <style>
    .logo-section {
      text-align: center; /* Center-align the logos block */
      padding: 0 10%; /* Add horizontal padding for spacing */
    }

    .logo-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 1000px; /* Limit maximum width for responsiveness */
      margin: 0 auto; /* Center the container */
    }

    .logo {
      height: 45px;
      margin: 10px;
    }

    @media (max-width: 500px) {
      .logo {
        height: 30px; /* Adjust height for mobile devices */
      }
    }
  </style>
  <div class="logo-container">
    <img src="/images/page-post/logos/ashoka-logo.png" alt="Ashoka" class="logo">
    <img src="images/page-post/logos/isoc-logo.png" alt="Internet Society" class="logo">
    <img src="images/page-post/logos/mozilla-logo.png" alt="Mozilla" class="logo">
    <img src="images/page-post/logos/wmf-logo.png" alt="Wikimedia Foundation" class="logo">
    <img src="images/page-post/logos/ngs-logo.png" alt="National Geographic Society" class="logo">
    <img src="images/page-post/logos/cc-logo.png" alt="Creative Commons" class="logo">
    <img src="/images/page-post/logos/gv-logo.png" alt="Global Voices" class="logo">
    <img src="images/page-post/logos/cis-logo.png" alt="Centre for Internet and Society" class="logo">
    <img src="/images/page-post/logos/yoti-logo.png" alt="Yoti" class="logo">
    <img src="/images/page-post/logos/ona-logo.png" alt="Online News Association" class="logo">
    <img src="/images/page-post/logos/ofdn-logo.png" alt="O Foundation" class="logo">
    <!-- Add more logos here if needed -->
  </div>
  <hr>
</section>
<!-- poster begings-->
<section class="poster">
  <style>
    .poster-section {
    }

    .poster-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .poster {
      height: 250px;
      margin: 10px;
    }

    @media (max-width: 500px) {
      .poster {
        height: 90px; /* Adjust height for mobile devices */
      }
    }
  </style>
<div class="poster-section">
    <div class="poster-container">
            <img src="images/page-post/film/gyani-maiya-poster.gif" alt="Gyani Maiya" class="poster">
            <img src="images/page-post/film/marginalized-aadhaar-poster-republica2021.gif" alt="MarginalizedAadhaar" class="poster">
            <img src="images/page-post/film/tva-dvd-cover.gif" alt="The Volunteer Archivists" class="poster">
            <img src="images/page-post/film/mage-porob-poster.gif" alt="Mage Porob" class="poster">
        <!-- Add more posters here if needed -->
    </div>
</div>
<div style="height: 60px;"></div>
</section>