<footer class="footer" style="width: 100%; margin: 0; padding: 0;">
  <!-- Transparent spacing div -->
  <div style="height: 100px; width: 100%; background: transparent;"></div>

  <!-- Existing footer content with black background -->
  <div style="background-color: #000000; width: 100%; margin: 0; padding: 0;">
    <div style="padding: 50px 20px 50px 20px; width: 100%; margin: 0;">
      <div class="wrap" style="width: 100%; margin: 0; padding: 0;">
        <!-- Centered container for both copyright and social links -->
        <div class="footer-content" style="display: flex; align-items: center; justify-content: center;">
          <div class="footer__copyright">
            <span style="color:#f7f7f7">© Subhashish Panigrahi (<a href="https://creativecommons.org/licenses/by-sa/4.0/" style="color: #f7f7f7">CC-BY-SA 4.0</a>) • Theme: Duet Jekyll • <a href="/contact" style="color: #f7f7f7">Contact</a></span>
          </div>

          <div style="width: 100px;"></div> <!-- Spacer div for 100px gap -->

          <!-- Socials include placed correctly within the footer-content -->
          <div class="footer__socials">
            {% include socials.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
