// - - - - - - - - - - - - - - - - - -

// Single page/post/project

// - - - - - - - - - - - - - - - - - -

.intro {
	
	h1 {
		width:400px;
		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	p {

	}
}

.content-wrap {

	@include mq(tabletp) {
		max-width: 100%;
		margin: 0 auto;
	}
}

.single {

	h1, h2, h3, h4, h5, h6, p, ul, ol {
		margin-left: auto;
		margin-right: auto;
		padding-left: 10%;
		padding-right: 10%;
		max-width: 95%;

		@include mq(tabletp) {
			padding-left: 0;
			padding-right: 0;
			max-width: 95%;
		}

		@include mq(tabletl) {
			max-width: 90%;
		}

		@include mq(laptop) {
			max-width: 50%;
		}

		@include mq(mobilep) {
      		max-width: 95%; /* adjust this for mobile portrait devices */
    	}
	}	

	hr {
		margin: 30px auto;
		width: calc(100vw - 60px);
		max-width: 40%;
		text-align: center;

		@include mq(tabletp) {
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-width: 40%;
		}

		@include mq(tabletl) {
			max-width: 40%;
		}

		@include mq(laptop) {
			max-width: 40%;
		}
	}

	blockquote,
	figure {
		max-width: 500px; // was 300px
		margin: 20px auto;

		@include mq(tabletp) {
			margin: 10px auto;
		}

		@include mq(laptop) {
        margin: 2px auto;
        max-width: 700px; // higher value
    	}
	}

	blockquote p {
		max-width: 100%;
		padding: 0;
	}

	p a {
		font-weight: $regular-weight;
	}

	p .button {
		margin-top: 5px;
		border: 2px solid black;
		border-radius: 10px;
	}

	ul, ol {
		ul, ol {
			max-width: 100%;
			padding-left: 25px;
		}
	}

	.highlighter-rouge,
	table {
		margin: 20px auto;
		width: 100%;
		max-width: 90%;

		@include mq(tabletp) {
			margin: 30px auto;
			max-width: 90%;
		}

		@include mq(tabletl) {
			max-width: 90%;
		}

		@include mq(laptop) {
			margin: 40px auto;
			max-width: 60%;
		}
	}

	.highlight {
		display: block;
		padding: 0;
		line-height: 1.5;
		font-size: $p-small*0.85;
		line-height: $p-lineheight;
		overflow: auto;

		@include mq(tabletp) {
			font-size: $p-medium*0.85;
		}

		@include mq(laptop) {
			font-size: $p-large*0.85;
		}

		.highlight {
			padding: 20px;

			@include mq(tabletp) {
				padding: 30px;
			}

			@include mq(laptop) {
				padding: 40px;
			}
		}
	}

	.table-wrap {
		display: block;
		width: 100%;
		max-width: 90%;
		margin: 0 auto;
		overflow-x: auto;

		table {
			max-width: 100%;
		}

		@include mq(tabletp) {
			max-width: 90%;
		}

		@include mq(tabletl) {
			max-width: 90%;
		}

		@include mq(laptop) {
			max-width: 60%;
		}
	}

	table {
		min-width: 600px;
		border: 2px solid $text-dark-color;

		thead {
			background: $text-dark-color;
			color: $background-color;
			text-align: left;
			font-weight: $bold-weight;

			th {
				font-weight: $bold-weight;
			}
		}

		th, td {
			padding: 10px;
			font-size: $p-small;
			font-weight: $p-weight;

			@include mq(tabletp) {
				padding: 15px;
				font-size: $p-medium;
			}

			@include mq(laptop) {
				padding: 20px;
				font-size: $p-large;
			}
		}
		
		tr {

			&:nth-child(2n) {
				background: $background-alt-color;
			}
		}
	}

	sup a.footnote {
		display: inline-block;
		margin-left: 5px;
		min-width: 16px;
		height: 16px;
		border-radius: 100%;
		border-bottom: none;
		padding: 2px 4px;
		background: black;
		font-size: 10px;
		text-align: center;
		color: orange;

		&:hover {
			background: orange;
			color: black;
		}
	}

	.footnotes {
		margin-top: 40px;

		@include mq(tabletp) {
			margin-top: 60px;
		}

		@include mq(laptop) {
			margin-top: 80px;
		}

		ol {
			list-style: none;
			counter-reset: footnotes;

			li {
				margin-top: 5px;
				font-size: 13px;
				counter-increment: footnotes;

				&:before {
					content: counter(footnotes);
				    box-sizing: border-box;
					display: inline-block;
					margin-right: 3px;
					width: 20px;
					height: 20px;
					border-radius: 100%;
					border-bottom: none;
					padding: 2px 3px;
					background: black;
					font-size: 11px;
					font-weight: $bold-weight;
					text-align: center;
					color: orange;
				}
				
				p {
					display: inline;
					max-width: 100%;
					font-size: 13px;

					a.reversefootnote {
						border-bottom: 0;
						vertical-align: sub;
					}
				}
			}
		}
	}
}

.image-wrap,
.video-wrap {
	position: relative;
	max-width: 50%;
	margin: 20px auto;

	@include mq(tabletp) {
		margin: 5px auto; // was 10px
	}

	@include mq(laptop) {
		margin: 40px auto;
	}

	&:first-child {
		margin-top: 0;
	}
}

.image-wrap img {
	margin: 0 auto;
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	align-items: center;
	justify-content: center;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
