.footer {
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 40px 0;
	text-align: center; // Center-align content

	@include mq(tabletp) {
		padding: 15px 0;
	}

	@include mq(tabletl) {
		padding: 15px 0;
	}

	@include mq(laptop) {
		padding: 40px 15px 15px 15px;
	}
}

// .footer__logo { 
// 	display: none; // Hide the logo section
// }

.footer__copyright {
	display: inline-block; // Align it inline with socials
	margin-top: 10px; // Reduce the margin
	font-size: 13px;
	color: white;

	a {
		margin-left: 0px;
		color: white;
		font-weight: $regular-weight;

		&:hover {
			color: orange;
		}
	}

	span {
		margin-top: 10px;
		display: inline-block;
	}

	@include mq(tabletp) {

		span {
			margin-top: 0;
		}
	}
}

.footer .socials {
	display: inline-block; // Align it inline with copyright
	margin-top: 10px; // Reduce the margin
	position: static; // Remove absolute positioning
}
