---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<h6>✐ {{ page.date | date_to_long_string }}</h6>

	</div>

</section>

<section class="single">

	{{ page.content }}

</section>
