---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<h5>{{ page.subtitle }}</h5>

	</div>

</section>

<section class="single">

	{{ page.content }}

</section>
